.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

table > tr {
    border-bottom: 1px solid gray;
}

.Login {
    width: 100%;
    max-width: 600px;
    margin: auto;
    margin-top: 100px;
}

.move-left {
    text-align: left;
}

.weekContent {
    padding-top: 4px;
}

.marginLeft5px {
    margin-left: 5px;
}

.weekTitle {
    margin-top: 6px;
}

.tablerow {
    text-align: left;
    border: none;
    padding: 0 6px 0 8px;
}

.customTable {
    text-align: left;
    border: none;
    width: 100%;
}

.leaderboard {
    margin-bottom: 2%
}

.fw600 {
    font-weight: 600;
}

.red {
    color: darkred;
}

.green {
    color: darkgreen;
}

.noPadding {
    padding-right: 0px;
    padding-left: 0px;
}

.paddingTop10px {
    padding-top: 10px;
}

.quizTitle {
    padding-bottom: 2%;
}

.questionAnswer {
    padding-left: 5px;
    vertical-align: center;
}

.btn-custom {

    color: black;
    background-color: #f37d29;
    border-color: black;

}

.btn-custom:hover {
    color: white
}

.page-item.active .page-link {
    background-color: #f37d29;
    border-color: #f37d29;
}

.page-link {
    color: black;
}

.page-link:hover {
    color: #f37d29;
}

.ft-logo{
    margin-top: 50px;
}

.footer-title{
    color: #f37d29;
    font-weight: 600;
}

.footer-links{
    color: black;
}

.footer-links:hover{
    color: #f37d29;
}

.copyright-links{
    color: #f37d29;
}

.copyright-links:hover {
    color: black;
}

.form-control:focus {
    border-color: #f37d29;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(243,125,41, 0.6);
}

.login-form {
    margin-top: 60px;
}

.newsletter-form .form-control {
    background-color: white;
    border-color: #A23F51;
    width: 90%
}

form[role="login"] {
    color: #5d5d5d;
    background: #f2f2f2;
    padding: 26px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}


.login-form {
    margin-top: 60px;
}

form[role=login] {
    color: #5d5d5d;
    background: #f2f2f2;
    padding: 26px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

form[role=login] img {
    display: block;
    margin: 0 auto;
    margin-bottom: 35px;
}

form[role=login] input,
form[role=login] button {
    font-size: 18px;
    margin: 16px 0;
}

form[role=login] > div {
    text-align: center;
}

.form-links {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 50px;
}

.form-links a {
    color: #fff;
}

.customLogin, .customLogin:active, .customLogin:visited, .customLogin:focus, .customLogin:link {
    color: #f37d29;
}

.customLogin:hover {

    font-weight: bold;
    text-decoration: none;
}

.form-gap {
    padding-top: 70px;
}
