.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

table > tr {
    border-bottom: 1px solid gray;
}

.Login {
    width: 100%;
    max-width: 600px;
    margin: auto;
    margin-top: 100px;

}

.move-left {
    text-align: left;
}

.weekContent {
    padding-top: 4px;
}

.marginLeft5px {
    margin-left: 5px;
}

.weekTitle {
    margin-top: 6px;
}

.tablerow {
    text-align: left;
    border: none;
    padding: 0 6px 0 8px;
}

.customTable {
    text-align: left;
    border: none;
    width: 100%;

}

.leaderboard {
    margin-bottom: 2%
}

.fw600{
    font-weight: 600;
}

.red{
    color: darkred;
}

.green{
    color:darkgreen;
}

.noPadding{
    padding-right: 0px;
    padding-left: 0px;
}